<h1>Transactions Analysis is Done!</h1>
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Transactions Done!</h1>
    <p>
      You can check your analysis.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
